/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'DM Serif Display', serif;
  display: grid;
  height: 100vh;
  font-size: 16px;
  grid-template-areas:
    'header header header'
    'nav main sidebar'
    'footer footer footer';
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 80px 1fr 40px;
}

header,
footer,
main,
aside,
nav {
  padding: 20px;
  border: 1px black solid;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-repeat: unset;
  background-position: center;
  color: #fff;
}

header img {
  border-radius: 50%;
  width: 70px;
  height: 75px;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  /* opacity: 0; */
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  border: 1px black solid;
  background-color: blanchedalmond;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: sidebar;
}
